################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PNdumper/.vs/PNdumper/v16
/PNdumper/bin/Debug
/PNdumper/obj
